# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/

# Env
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# IDE / Editor
.idea/
.vscode/

# Python
*.egg-info/
dist/
build/